body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0d0d0d;
    color: #e0e0e0;
}

header {
    background: #111;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px #0099ff50;
}

header h1 {
    text-shadow: 0 0 15px #00aaff;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav a {
    color: #00aaff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.nav a:hover {
    color: #ffffff;
    text-shadow: 0 0 10px #00ccff;
}

.burger {
    display: none;
    cursor: pointer;
    width: 40px;
    margin: auto;
    margin-bottom: 10px;
    flex-direction: column;
    gap: 6px;
}

.burger div {
    height: 4px;
    background: #00aaff;
    border-radius: 2px;
    transition: 0.4s;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    padding: 15px;
    background: #111;
    gap: 15px;
}

.mobile-menu a {
    color: #00aaff;
    text-decoration: none;
    font-size: 18px;
}

.show {
    display: flex !important;
}

.burger.open div:nth-child(1) {
    transform: rotate(45deg) translateY(10px);
}
.burger.open div:nth-child(2) {
    opacity: 0;
}
.burger.open div:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
}

.gallery {
    padding: 40px;
    display: grid;
    gap: 20px;

    grid-template-columns: repeat(3, 1fr);
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;

    transition: transform 0.3s ease,
                box-shadow 0.3s ease,
                filter 0.3s ease;

    cursor: zoom-in;
}

.gallery img:hover {
    transform: scale(1.07);
    box-shadow: 0 0 25px #00aaff;
    filter: brightness(1.2);
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    margin-top: 40px;
    box-shadow: 0 0 20px #0088ff40;
}


@media (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    header h1 {
        font-size: 26px;
    }
}

@media (max-width: 768px) {

    .nav { display: none; }
    .burger { display: flex; }

    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .gallery img:hover {
        transform: scale(1.03);
    }
}
